snippet sio "Include <stdio.h>"
#include <stdio.h>
endsnippet

snippet slb "Include <stdlib.h>"
#include <stdlib.h>
endsnippet

snippet ma "A simple main function for C"
int
main(int argc, char *argv[]) {
	$1;

	exit(EXIT_SUCCESS);
}
endsnippet
