snippet srv "http.Server"
&http.Server{
	Addr: ":8080",
	Handler: $1,
}
endsnippet

snippet mux "mux.NewRouter()"
mux.NewRouter()
endsnippet

snippet ahf "anonymous http handler func" !i
func(w http.ResponseWriter, r *http.Request){
	$1
}
endsnippet

snippet stru "struct definition"
type $1 struct {
	$2
}
endsnippet
