snippet aws "aws provider for terraform"
provider "aws" {
	region = "${var.region}"
}
endsnippet

snippet res "terraform resource"
resource "$1" {
	$2
}
endsnippet

snippet mod "terraform module"
module "$1" {
	$2
}
endsnippet

snippet var "terraform variable"
variable "$1" {}
endsnippet

snippet s3 "terraform s3 backend"
terraform {
	backend "s3" {}
}
endsnippet
